/*
	My custom settings. These variables are copied from _settings.css
	This file will only contain uncommented settings that are actually used in the theme.
*/

$medium-breakpoint: em-calc(850);
// $small-breakpoint:  em-calc(540);

// We use these to define default font stacks
$font-family-sans-serif: "Heebo","Work Sans", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
$font-family-serif: Georgia, Cambria, "Times New Roman", Times, serif;
$font-family-monospace: Consolas, "Liberation Mono", Courier, monospace;


// We use these to define default font weights
$font-weight-normal: normal !default;
$font-weight-bold: bold !default;

// Foundation color naming conventions
$white       : #FFFFFF;
$ghost       : #FAFAFA;
$snow        : #F9F9F9;
$vapor       : #F6F6F6;
$white-smoke : #F5F5F5;
$silver      : #EFEFEF;
$smoke       : #EDEDED;
$gainsboro   : #DDDDDD;
$iron        : #CCCCCC;
$base        : #AAAAAA;
$aluminum    : #999999;
$jumbo       : #888888;
$monsoon     : #777777;
$steel       : #666666;
$charcoal    : #4A4A4A;
$tuatara     : #444444;
$oil         : #333333;
$jet         : #2B2B2B;
$black       : #000000;
$blue				 : #EF9492;
$darkblue		 : #EF9492;
$lightblue   : #f5fafa;
$pink        : #EF9492;
$yellow      : #FDF9BA;
$lightyellow : #FFFDDB;
$lightpink   : #FFD7D7;
$lighterpink : #FFF1F1;


// We use these as default colors throughout
$primary-color: #3298bd;
$secondary-color: #e7e7e7;
$alert-color: #f04124;
$success-color: #43AC6A;
$warning-color: #f08a24;
$info-color: #a0d3e8;
$header-font-color: #4A4A4A;

// We use these to control various global styles
$body-bg: $white;
$body-font-color: $charcoal;
$body-font-family: Heebo, sans-serif;
$body-font-weight: 300;
$body-font-style: normal;
$header-font-weight: 300;
$header-font-family: Heebo, sans-serif;
$header-text-rendering: optimizeLegibility;

// We use these to control header font styles
$header-font-style: normal;
$header-font-color: $jet;
$header-line-height: 1.4;
$header-top-margin: 0;
$header-bottom-margin: 20px;

// button text styles.
$button-font-color: $pink;
$button-font-color-alt: $pink;


//button border styles.
$button-border-width: 1px;
$button-border-style: solid;
$button-bg-color: white;
$button-bg-hover: $lighterpink;
$button-border-color: $lightpink;

//button padding
button.small.round.small {
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}

///left Nav Style

nav a img {
  width: 60px;
}

ul#menu-side-nav-1.menu{
    margin-left: 0;
}

ul {
  list-style: none;
}

.nav-container, .right-align {
  text-align: right;
}

.show-for-small-only section a img {
  width: 40px;
}

.menu-side-nav-container {
  text-align: right;
  padding-top: 20px;
}

.menu a {
  color: $pink;
}

a {
  font-weight: 300;
}

.menu a:hover {
  color: $lightpink;
}

ul li.active a{
 color: $charcoal;
}

 .menu a:focus {
  color: $lightpink;
}

div.stuck {
  position: fixed;
  max-width: 150px;
  z-index: 10;
  position: fixed;
  height: 100%;
  padding-left: 14px;
}

//mobile nav Style
$tabbar-bg: $pink;
$tabbar-menu-icon-color: $white;

nav.tab-bar {
   border-bottom: 0.5px solid $pink;
   margin-bottom: 0;
}

//off canvas mobile nav Style
$off-canvas-bg: $lighterpink;
$off-canvas-bg-hover: $lightpink;
$off-canvas-bg-active: $lightpink;
$off-canvas-link-color: $charcoal;
$off-canvas-link-border-bottom: $white;
$off-canvas-link-padding: 8px;
$off-canvas-overlay-box-shadow: -4px 0 4px rgba($charcoal, .5), 4px 0 4px rgba($charcoal, .5);


//adds padding above each row
div.firstcontainer {
  padding-top: 40px;
}

div.container {
  padding-top: 40px;
}

// We use these to style the <hr> element
$hr-border-width: 0.5px;
$hr-border-style: solid;
$hr-border-color: $lightpink;

//hr spacing
$hr-margin: rem-calc(25);

div.remove-padding-bottom hr {
  margin-bottom: 0px;
}

//Text styles
body p {
  font-weight: 300;
  // font-family: "work sans"
  margin-bottom: 0px;
}

body h5 {
  margin-bottom: 10px;
  font-size: 20px;
}

div h6 {
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 10px;
}

//grey link styling
h5.greylink a, p.greylink a {
  color: $charcoal;
}

h5.greylink a:hover, h5.greylink a:focus, h5.greylink a:active, p.greylink a:hover, p.greylink  :focus, p.greylink  a:active, {
  color: $pink;
}


//pink link styling
h5.pinklink a, p.pinklink a{
  color: $pink;
}

h5.pinklink a:hover, h5.pinklink a:focus, h5.pinklink a:active, p.pinklink a:hover, p.pinklink a:focus, p.pinklink a:active {
  color: $lightpink;
}


// right border
div .border-right {
  border-right: solid;
  border-width: 1px;
  border-color: $lightpink;

}

span.bold {
  font-weight: 300;
  color: $pink;
}

span.pink{
  color: $pink;
}

span.bolder {
  font-weight: 400;
  color: $pink;
}

div.medium-4.large-4.columns.border-right, div.medium-4.large-4.columns {
  padding-right: 20px;
  padding-left: 20px;
}


// left border
div.border-left {
  border-left: solid;
  border-width: 1px;
  border-color: $lightpink;
}

div.border-left p {
    margin-left: 15px;
}

//image boarder
img {
    border-style: solid;
    border-width: 0.5px;
    color: $smoke;
  }

//code from Mike Young https://miketricking.github.io/dist/
//thumbail style
.hovereffect {
width:100%;
height:100%;
float:left;
overflow:hidden;
position:relative;
text-align:center;
cursor:default;
margin-bottom: 15px;
}

.hovereffect .overlay {
width:100%;
height:100%;
position:absolute;
overflow:hidden;
top:0;
left:0;
opacity:0;
background-color:rgba(0,0,0,0.5);
-webkit-transition:all .4s ease-in-out;
transition:all .4s ease-in-out
}

.hovereffect img {
display:block;
position:relative;
-webkit-transition:all .4s linear;
transition:all .4s linear;
}

.hovereffect h2 {
text-transform:uppercase;
color:#fff;
text-align:center;
position:relative;
font-size:17px;
background:rgba(0,0,0,0.6);
-webkit-transform:translatey(-100px);
-ms-transform:translatey(-100px);
transform:translatey(-100px);
-webkit-transition:all .2s ease-in-out;
transition:all .2s ease-in-out;
padding:10px;
}

.hovereffect a.info {
text-decoration:none;
display:inline-block;
color:#fff;
border:1px solid #fff;
background-color:transparent;
opacity:0;
filter:alpha(opacity=0);
-webkit-transition:all .2s ease-in-out;
transition:all .2s ease-in-out;
margin:60px 0 0;
padding:7px 14px;
}

.hovereffect a.info:hover {
box-shadow:0 0 5px #fff;
}

.hovereffect:hover img {
-ms-transform:scale(1.2);
-webkit-transform:scale(1.2);
transform:scale(1.2);
}

.hovereffect:hover .overlay {
opacity:1;
filter:alpha(opacity=100);
}

.hovereffect:hover h2,.hovereffect:hover a.info {
opacity:1;
filter:alpha(opacity=100);
-ms-transform:translatey(0);
-webkit-transform:translatey(0);
transform:translatey(0);
}

.hovereffect:hover a.info {
-webkit-transition-delay:.2s;
transition-delay:.2s;
}

//code from https://tympanus.net/codrops/2014/06/19/ideas-for-subtle-hover-effects/

/*---------------*/
/***** Chico *****/
/*---------------*/

figure.effect-chico img {
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(1.12);
	transform: scale(1.12);
}

figure.effect-chico:hover img {
	opacity: 0.5;
	-webkit-transform: scale(1);
	transform: scale(1);
}

figure.effect-chico figcaption {
	padding: 3em;
}

figure.effect-chico figcaption::before {
	position: absolute;
	top: 30px;
	right: 30px;
	bottom: 30px;
	left: 30px;
	border: 1px solid #fff;
	content: '';
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

figure.effect-chico figcaption::before,
figure.effect-chico p {
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}

figure.effect-chico h2 {
	padding: 20% 0 20px 0;
}

figure.effect-chico p {
	margin: 0 auto;
	max-width: 200px;
	-webkit-transform: scale(1.5);
	transform: scale(1.5);
}

figure.effect-chico:hover figcaption::before,
figure.effect-chico:hover p {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}
